#form {text-align: center;}
#input1 {text-align: center; color: rgb(188, 194, 192);}
#input2 {background-color: rgb(63, 181, 165); color: white; border:none;}
h6 {color: rgb(95, 105, 101);}
td {color: rgb(82, 84, 84);}